n8n/workflows/workflow_a_create_video.json
{
  "name": "Workflow A - Create HeyGen Video",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "triggerOn": "specificSheet",
        "event": "rowAdded",
        "documentId": { "__rl": true, "value": "1rFsEvJqvi5thhNVtMaAqTEgDSDzOobU7ZUHpLU3Vog8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" }
      },
      "id": "a-1",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-blank",
              "leftValue": "={{ $json['status'] }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a-2",
      "name": "Filter - Blank Status",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-pending",
              "leftValue": "={{ $json['status'] }}",
              "rightValue": "pending",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a-3",
      "name": "Filter - Pending Status",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 420]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a-4",
      "name": "Merge - Blank and Pending",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a-ctx-1", "name": "ctx_id",     "value": "={{ $json['id'] }}",     "type": "string" },
            { "id": "a-ctx-2", "name": "ctx_title",  "value": "={{ $json['title'] }}",  "type": "string" },
            { "id": "a-ctx-3", "name": "ctx_script", "value": "={{ $json['script'] }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a-5",
      "name": "Save Row Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.heygen.com/v2/avatars?ownership=private&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "a-6",
      "name": "HeyGen - Get My Avatar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HEYGEN_CREDENTIAL_ID",
          "name": "HeyGen API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a-7",
      "name": "Merge - Avatar into Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "enrich-1", "name": "ctx_id",        "value": "={{ $json.input2.ctx_id }}",                                                "type": "string" },
            { "id": "enrich-2", "name": "ctx_title",     "value": "={{ $json.input2.ctx_title }}",                                             "type": "string" },
            { "id": "enrich-3", "name": "ctx_script",    "value": "={{ $json.input2.ctx_script }}",                                            "type": "string" },
            { "id": "enrich-4", "name": "ctx_avatar_id", "value": "={{ $json.input1.data.avatars[0].avatar_id }}",                             "type": "string" },
            { "id": "enrich-5", "name": "ctx_voice_id",  "value": "={{ $json.input1.data.avatars[0].default_voice_id ?? $json.input1.data.avatars[0].voice_id }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a-8",
      "name": "Set Avatar and Voice IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.ctx_avatar_id }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.ctx_script }}\",\n        \"voice_id\": \"{{ $json.ctx_voice_id }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#FFFFFF\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 1080, \"height\": 1920 },\n  \"title\": \"{{ $json.ctx_title }}\"\n}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "a-9",
      "name": "HeyGen POST v3 Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HEYGEN_CREDENTIAL_ID",
          "name": "HeyGen API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a-10",
      "name": "Merge - Restore Row Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-video-id-present",
                    "leftValue": "={{ $json.input1.data.video_id }}",
                    "rightValue": "",
                    "operator": { "type": "string", "operation": "notEquals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "a-11",
      "name": "Switch - Created or Failed",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1rFsEvJqvi5thhNVtMaAqTEgDSDzOobU7ZUHpLU3Vog8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id":              "={{ $json.input2.ctx_id }}",
            "video_id":        "={{ $json.input1.data.video_id }}",
            "status":          "processing",
            "video_url":       "",
            "video_page_url":  "",
            "failure_message": "",
            "failure_code":    ""
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id",              "displayName": "id",              "required": false, "defaultMatch": true,  "display": true, "type": "string", "canBeUsedToMatch": true  },
            { "id": "title",           "displayName": "title",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "script",          "displayName": "script",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_id",        "displayName": "video_id",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_url",       "displayName": "video_url",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_page_url",  "displayName": "video_page_url",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",          "displayName": "status",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "failure_message", "displayName": "failure_message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "failure_code",    "displayName": "failure_code",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "a-12",
      "name": "Update Sheet - Set Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2420, 160]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1rFsEvJqvi5thhNVtMaAqTEgDSDzOobU7ZUHpLU3Vog8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id":              "={{ $json.input2.ctx_id }}",
            "status":          "failed",
            "failure_message": "={{ $json.input1.error?.message ?? $json.input1.message ?? 'HeyGen create error' }}",
            "failure_code":    "={{ $json.input1.error?.code ?? $json.input1.code ?? '' }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id",              "displayName": "id",              "required": false, "defaultMatch": true,  "display": true, "type": "string", "canBeUsedToMatch": true  },
            { "id": "title",           "displayName": "title",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "script",          "displayName": "script",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_id",        "displayName": "video_id",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_url",       "displayName": "video_url",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "video_page_url",  "displayName": "video_page_url",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",          "displayName": "status",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "failure_message", "displayName": "failure_message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "failure_code",    "displayName": "failure_code",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "a-13",
      "name": "Update Sheet - Create Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2420, 440]
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [[
        { "node": "Filter - Blank Status",   "type": "main", "index": 0 },
        { "node": "Filter - Pending Status", "type": "main", "index": 0 }
      ]]
    },
    "Filter - Blank Status":   { "main": [[{ "node": "Merge - Blank and Pending", "type": "main", "index": 0 }]] },
    "Filter - Pending Status": { "main": [[{ "node": "Merge - Blank and Pending", "type": "main", "index": 1 }]] },
    "Merge - Blank and Pending": { "main": [[{ "node": "Save Row Context", "type": "main", "index": 0 }]] },
    "Save Row Context": {
      "main": [[
        { "node": "HeyGen - Get My Avatar",      "type": "main", "index": 0 },
        { "node": "Merge - Avatar into Context", "type": "main", "index": 1 }
      ]]
    },
    "HeyGen - Get My Avatar": { "main": [[{ "node": "Merge - Avatar into Context", "type": "main", "index": 0 }]] },
    "Merge - Avatar into Context": { "main": [[{ "node": "Set Avatar and Voice IDs", "type": "main", "index": 0 }]] },
    "Set Avatar and Voice IDs": {
      "main": [[
        { "node": "HeyGen POST v3 Create Video", "type": "main", "index": 0 },
        { "node": "Merge - Restore Row Context", "type": "main", "index": 1 }
      ]]
    },
    "HeyGen POST v3 Create Video": { "main": [[{ "node": "Merge - Restore Row Context", "type": "main", "index": 0 }]] },
    "Merge - Restore Row Context":  { "main": [[{ "node": "Switch - Created or Failed",  "type": "main", "index": 0 }]] },
    "Switch - Created or Failed": {
      "main": [
        [{ "node": "Update Sheet - Set Processing", "type": "main", "index": 0 }],
        [{ "node": "Update Sheet - Create Failed",  "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {}
}
